p {
    font-size: 20px;
    color: rgb(0, 179, 255);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(10, 11, 18);
}

#g1 {
    color: rgb(0, 255, 132);
    border: 2px dashed rgb(0, 255, 132);
    padding: 10px;
}

#navbar {
    padding: 10px;
    border: 3px solid rgb(255, 0, 43);
    background-color: rgb(17, 18, 18);
    text-align: center;
}

#navbar a {
    padding: 10px;
    color: rgb(255, 0, 43);
    text-decoration: none;
}

#navbar a:hover {
    color: rgb(251, 255, 0);
}

.card {
    width: 200px;
    border: 2px rgb(23, 22, 22);
    border-style:ridge;
    margin: 20px auto;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(23, 22, 22);
}
.card button{
    cursor: pointer;
   
}